* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  grid-column: 1/-1;
}

.product-title::after {
  content: 'Sale';
  color: #fff;
  background-color: #ec2f2f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 7px 15px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -17px;
  left: -34px;
  letter-spacing: 2px;
}

.product-info {
  flex: 1;
}

.price-ship {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.price {
  font-weight: bold;
  font-size: 25px;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #777;
}

.more-info {
  color: black;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 25px;
}

.more-info:hover,
.more-info:active {
  color: black;
  text-decoration: none;
}

.product-details {
  flex: 1;
}

.product-detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.detail-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 1/-1;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}
.color-blue {
  background-color: #2f6ee2;
}
